<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Médico</h4>
        <h6 class="card-subtitle">Actualizar información</h6>

        <div class="form-group" *ngIf="selectedDoctor">
          <label>Foto</label>
          <div class="col-sm-9 d-block mx-auto">
            <div class="input-group">
              <img
                class="w-100"
                [src]="selectedDoctor.img | image: 'doctors'"
              />
            </div>
          </div>
        </div>

        <form
          class="form p-t-20"
          [formGroup]="doctorForm"
          (submit)="saveDoctor()"
        >
          <div class="form-group">
            <label for="txtName">Nombre</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="txtName"
                placeholder="Nombre del médico"
                formControlName="name"
              />
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Hospital</label>
            <div class="input-group">
              <select class="form-control" formControlName="hospital">
                <option value="">Seleccione hospital</option>
                <option
                  *ngFor="let hospital of hospitals"
                  [value]="hospital._id"
                >
                  {{ hospital.name }}
                </option>
              </select>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success waves-effect waves-light m-r-10"
            [disabled]="doctorForm.invalid"
          >
            <i class="fa fa-save"></i>
            Guardar cambios
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6 animated fadeIn fast" *ngIf="selectedHospital">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hóspital</h4>
        <h6 class="card-subtitle">{{ selectedHospital.name }}</h6>
        <img class="w-100" [src]="selectedHospital.img | image: 'hospitals'" />
      </div>
    </div>
  </div>
</div>
