<div class="input-group">
  <span class="input-group-btn">
    <button [ngClass]="btnClass" type="button" (click)="changeValue(-5)">
      <i class="fa fa-minus"></i>
    </button>
  </span>

  <input
    type="number"
    class="form-control"
    placeholder="Product name"
    [ngClass]="{ 'is-invalid': value > 100 || value < 0 }"
    (ngModelChange)="onChange($event)"
    [(ngModel)]="value"
  />

  <span class="input-group-btn">
    <button [ngClass]="btnClass" type="button" (click)="changeValue(5)">
      <i class="fa fa-plus"></i>
    </button>
  </span>
</div>
