<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My User Profile</h4>
        <h6 class="card-subtitle">Settings</h6>

        <form
          class="form p-t-20"
          [formGroup]="profileForm"
          (ngSubmit)="updateProfile()"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                placeholder="Enter email"
                formControlName="email"
                [readOnly]="user.google"
              />
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success waves-effect waves-light d-block mx-auto"
            [disabled]="profileForm.invalid"
          >
            <i
              [ngClass]="{
                'fa-spin fa-circle-o-notch': loadingUser,
                'fa-save': !loadingUser
              }"
              class="fa"
            ></i>
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">User image</h6>

        <div class="text-center mb-3">
          <img #profileimg [src]="user.imageUrl" class="img-avatar" />
          <!-- <img [src]="user.imageUrl" class="img-avatar" /> -->
        </div>

        <div class="form-group">
          <input
            type="file"
            class="form-control-file"
            (change)="changeImage($event.target.files[0])"
          />
        </div>

        <button
          type="submit"
          class="btn btn-success waves-effect waves-light d-block mx-auto"
          [disabled]="!imageToUpload"
          (click)="uploadImage()"
        >
          <i
            [ngClass]="{
              'fa-spin fa-circle-o-notch': loadingImg,
              'fa-save': !loadingImg
            }"
            class="fa"
          ></i>
          Save Image
        </button>
      </div>
    </div>
  </div>
</div>
