<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">My User Profile</h4>
        <h6 class="card-subtitle">Settings</h6>
        <form class="form p-t-20">
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
              />
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success waves-effect waves-light d-block mx-auto"
          >
            <div class="fa fa-save"></div>
            Save Changes
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">User image</h6>

        <img src="" alt="" />

        <div class="form-group">
          <input type="file" class="form-control-file" />
        </div>

        <button
          type="submit"
          class="btn btn-success waves-effect waves-light d-block mx-auto"
        >
          <div class="fa fa-save"></div>
          Save Image
        </button>
      </div>
    </div>
  </div>
</div>
