<div class="row animated fadeIn fast">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar Hospital..."
          #txtTerm
          [(ngModel)]="searchTerm"
          (keyup)="search(txtTerm.value)"
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-md-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-circle-o-notch fa-2x" aria-hidden="true"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8">
            <h4 class="card-title">Hospitales ({{ hospitals.length }})</h4>
            <h6 class="card-subtitle">Hospitales del sistema.</h6>
          </div>

          <div class="col-md-4">
            <div class="text-right">
              <button class="btn btn-primary" (click)="showNewHospitalDialog()">
                <i class="fa fa-hospital-o"></i>
                Crear hospital
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100">Foto</th>
                <th>Nombre</th>
                <th class="w100 text-nowrap text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <td class="text-center">
                  <img
                    class="w100 cursor"
                    [src]="hospital.img | image: 'hospitals'"
                    alt=""
                    (click)="showModal(hospital)"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Nombre del hospital."
                    [(ngModel)]="hospital.name"
                  />
                </td>
                <td class="text-nowrap text-center">
                  <a
                    (click)="saveChanges(hospital)"
                    class="cursor"
                    data-toggle="tooltip"
                    data-original-title="Guardar"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    class="cursor"
                    (click)="deleteHospital(hospital)"
                    data-toggle="tooltip"
                    data-original-title="Cerrar"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- <button class="btn btn-secondary">Anterior</button>
        &nbsp;
        <button class="btn btn-secondary">Siguiente</button> -->
      </div>
    </div>
  </div>
</div>
